# Import

In [26]:
import pandas as pd
import numpy as np
import plotly.express as px

# Read Data

In [27]:
books=pd.read_csv('Data/Books.csv')
ratings=pd.read_csv('Data/Ratings.csv')
users=pd.read_csv('data/Users.csv')

C:\Users\Linux\AppData\Local\Temp\ipykernel_7444\3909260974.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books=pd.read_csv('Data/Books.csv')

In [28]:
print(books.shape)
print(ratings.shape)
print(users.shape)

(271360, 8)
(1149780, 3)
(278858, 3)

# Cleaning

In [29]:
def null_values(data):
    return data.isnull().sum()

In [30]:
print('Null values in books\n',null_values(books),'\n')
print('Null values in ratings\n',null_values(ratings))

Null values in books
 ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

Null values in ratings
 User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

# EDA

## Books
1. Number of books title
## Ratings
1. Avg rating of a book
2. Users vs number of rating bar
3. Books vs number of rating bar
## Merge

In [31]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [32]:
ratings.head(3)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0

In [33]:
users.head(3)

   User-ID                         Location   Age
0        1               nyc, new york, usa   NaN
1        2        stockton, california, usa  18.0
2        3  moscow, yukon territory, russia   NaN

In [34]:
books_rate_and_name=ratings.merge(books,on='ISBN')

In [35]:
books_rate_and_name.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

In [36]:
review_count=books_rate_and_name.groupby('Book-Title').count()['Book-Rating'].reset_index().rename({'Book-Rating':'Num_review'},axis=1)

In [37]:
review_count=review_count.sort_values(by='Num_review',ascending=False)

In [38]:
review_count.head()

                        Book-Title  Num_review
234951                 Wild Animus        2502
196326   The Lovely Bones: A Novel        1295
183573           The Da Vinci Code         898
5303               A Painted House         838
199237  The Nanny Diaries: A Novel         828

In [39]:
avg_rating=books_rate_and_name.groupby('Book-Title').agg({'Book-Rating':'mean'}).reset_index()

In [40]:
popular_df=review_count.merge(avg_rating,on='Book-Title')

In [41]:
popular_df.head()

                   Book-Title  Num_review  Book-Rating
0                 Wild Animus        2502     1.019584
1   The Lovely Bones: A Novel        1295     4.468726
2           The Da Vinci Code         898     4.642539
3             A Painted House         838     3.231504
4  The Nanny Diaries: A Novel         828     3.530193

In [42]:
popular_df=popular_df.loc[(popular_df['Num_review']>200)].sort_values(by='Book-Rating',ascending=False)

In [43]:
books[['Book-Title','Image-URL-M']]

,Book-Title,Image-URL-M
0,Classical Mythology,http://images.amazon.com/images/P/0195153448.0...
1,Clara Callan,http://images.amazon.com/images/P/0002005018.0...
2,Decision in Normandy,http://images.amazon.com/images/P/0060973129.0...
3,Flu: The Story of the Great Influenza Pandemic...,http://images.amazon.com/images/P/0374157065.0...
4,The Mummies of Urumchi,http://images.amazon.com/images/P/0393045218.0...
...,...,...
271355,There's a Bat in Bunk Five,http://images.amazon.com/images/P/0440400988.0...
271356,From One to One Hundred,http://images.amazon.com/images/P/0525447644.0...
271357,Lily Dale : The True Story of the Town that Ta...,http://images.amazon.com/images/P/006008667X.0...
271358,Republic (World's Classics),http://images.amazon.com/images/P/0192126040.0...
271359,A Guided Tour of Rene Descartes' Meditations o...,http://images.amazon.com/images/P/0767409752.0...

In [44]:
popular_df=popular_df.merge(books,on='Book-Title')

In [45]:
popular_df.columns

Index(['Book-Title', 'Num_review', 'Book-Rating', 'ISBN', 'Book-Author',
       'Year-Of-Publication', 'Publisher', 'Image-URL-S', 'Image-URL-M',
       'Image-URL-L'],
      dtype='object')

In [46]:
popular_df=popular_df[['Book-Title','Book-Author','Image-URL-M','Num_review', 'Book-Rating']]

In [47]:
popular_df

,Book-Title,Book-Author,Image-URL-M,Num_review,Book-Rating
0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,http://images.amazon.com/images/P/0439136350.0...,428,5.852804
1,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,http://images.amazon.com/images/P/0439136369.0...,428,5.852804
2,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,http://images.amazon.com/images/P/0786222743.0...,428,5.852804
3,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,http://images.amazon.com/images/P/0439139597.0...,387,5.824289
4,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,http://images.amazon.com/images/P/0439139600.0...,387,5.824289
...,...,...,...,...,...
1118,Slow Waltz in Cedar Bend,Robert James Waller,http://images.amazon.com/images/P/0446516538.0...,248,1.895161
1119,Slow Waltz in Cedar Bend,Robert James Waller,http://images.amazon.com/images/P/074932032X.0...,248,1.895161
1120,Slow Waltz in Cedar Bend,Robert James Waller,http://images.amazon.com/images/P/0749317647.0...,248,1.895161
1121,Songs in Ordinary Time (Oprah's Book Club (Pap...,Mary McGarry Morris,http://images.amazon.com/images/P/0140244824.0...,232,1.857759
1122,Wild Animus,Rich Shapero,http://images.amazon.com/images/P/0971880107.0...,2502,1.019584

In [48]:
popular_df.head()

,Book-Title,Book-Author,Image-URL-M,Num_review,Book-Rating
0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,http://images.amazon.com/images/P/0439136350.0...,428,5.852804
1,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,http://images.amazon.com/images/P/0439136369.0...,428,5.852804
2,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,http://images.amazon.com/images/P/0786222743.0...,428,5.852804
3,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,http://images.amazon.com/images/P/0439139597.0...,387,5.824289
4,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,http://images.amazon.com/images/P/0439139600.0...,387,5.824289

In [49]:
popular_df.drop_duplicates(subset=['Book-Title'],inplace=True)

In [50]:
popular_df.sample()

,Book-Title,Book-Author,Image-URL-M,Num_review,Book-Rating
955,The Queen of the Damned (Vampire Chronicles (P...,Anne Rice,http://images.amazon.com/images/P/0345351525.0...,274,2.708029

# Collaborative Filtering based Recommender System

In [51]:
active_user=books_rate_and_name.groupby('User-ID').count()['Book-Rating']

In [52]:
active_user=active_user[active_user>50]

In [53]:
active_user

User-ID
243         79
254        300
507        129
638         73
643         56
          ...
278188     194
278418    3996
278582      60
278633      73
278843      60
Name: Book-Rating, Length: 3012, dtype: int64

In [54]:
filtered_df=books_rate_and_name[books_rate_and_name['User-ID'].isin(active_user)]
filtered_df.head(3)

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
503,243,0449006522,6,Manhattan Hunt Club,JOHN SAUL,2002,Ballantine Books,http://images.amazon.com/images/P/0449006522.0...,http://images.amazon.com/images/P/0449006522.0...,http://images.amazon.com/images/P/0449006522.0...
1380,99,0451166892,3,The Pillars of the Earth,Ken Follett,1996,Signet Book,http://images.amazon.com/images/P/0451166892.0...,http://images.amazon.com/images/P/0451166892.0...,http://images.amazon.com/images/P/0451166892.0...
1670,254,0451167317,8,The Dark Half,Stephen King,1994,Signet Book,http://images.amazon.com/images/P/0451167317.0...,http://images.amazon.com/images/P/0451167317.0...,http://images.amazon.com/images/P/0451167317.0...

In [55]:
famous_books=books_rate_and_name.groupby('Book-Title').count()['Book-Rating']
famous_books

Book-Title
 A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)    4
 Always Have Popsicles                                                                                        1
 Apple Magic (The Collector's series)                                                                         1
 Ask Lily (Young Women of Faith: Lily Series, Book 5)                                                         1
 Beyond IBM: Leadership Marketing and Finance for the 1990s                                                   1
                                                                                                             ..
Ã?Â?lpiraten.                                                                                                 2
Ã?Â?rger mit Produkt X. Roman.                                                                                4
Ã?Â?sterlich leben.                                                                                           1
Ã?Â?stlich der Berge.                                                                                         3
Ã?Â?thique en toc                                                                                             2
Name: Book-Rating, Length: 241071, dtype: int64

In [56]:
famous_books=famous_books[famous_books>50]

In [57]:
famous_books

Book-Title
10 Lb. Penalty                                                                61
16 Lighthouse Road                                                            65
1984                                                                         284
1st to Die: A Novel                                                          509
2010: Odyssey Two                                                             90
                                                                            ...
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values            210
Zoya                                                                         103
\O\" Is for Outlaw"                                                          269
\Surely You're Joking, Mr. Feynman!\": Adventures of a Curious Character"     57
stardust                                                                      51
Name: Book-Rating, Length: 2381, dtype: int64

In [58]:
filtered_df

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
503,243,0449006522,6,Manhattan Hunt Club,JOHN SAUL,2002,Ballantine Books,http://images.amazon.com/images/P/0449006522.0...,http://images.amazon.com/images/P/0449006522.0...,http://images.amazon.com/images/P/0449006522.0...
1380,99,0451166892,3,The Pillars of the Earth,Ken Follett,1996,Signet Book,http://images.amazon.com/images/P/0451166892.0...,http://images.amazon.com/images/P/0451166892.0...,http://images.amazon.com/images/P/0451166892.0...
1670,254,0451167317,8,The Dark Half,Stephen King,1994,Signet Book,http://images.amazon.com/images/P/0451167317.0...,http://images.amazon.com/images/P/0451167317.0...,http://images.amazon.com/images/P/0451167317.0...
1994,254,043935806X,0,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,2003,Scholastic,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...
2365,232,0330332775,0,Bridget Jones's Diary,Helen Fielding,1997,Picador (UK),http://images.amazon.com/images/P/0330332775.0...,http://images.amazon.com/images/P/0330332775.0...,http://images.amazon.com/images/P/0330332775.0...
...,...,...,...,...,...,...,...,...,...,...
280772,3329,0671654209,7,"The Burning Eye (Warworld, Book 1)",Jerry Pournelle,1988,Baen,http://images.amazon.com/images/P/0671654209.0...,http://images.amazon.com/images/P/0671654209.0...,http://images.amazon.com/images/P/0671654209.0...
280775,3329,0671720406,0,ROIL OF STARS,Don Wismer,1991,Baen,http://images.amazon.com/images/P/0671720406.0...,http://images.amazon.com/images/P/0671720406.0...,http://images.amazon.com/images/P/0671720406.0...
280776,3329,0743435346,5,The Warmasters,David Weber,2002,Baen,http://images.amazon.com/images/P/0743435346.0...,http://images.amazon.com/images/P/0743435346.0...,http://images.amazon.com/images/P/0743435346.0...
280777,3329,0886778697,9,The Faded Sun Trilogy,C. J. Cherryh,2000,Daw Books,http://images.amazon.com/images/P/0886778697.0...,http://images.amazon.com/images/P/0886778697.0...,http://images.amazon.com/images/P/0886778697.0...
349458,6456,0425098451,10,N or M?,Agatha Christie,1996,Berkley Publishing Group,http://images.amazon.com/images/P/0425098451.0...,http://images.amazon.com/images/P/0425098451.0...,http://images.amazon.com/images/P/0425098451.0...

In [59]:
filtered_df['Book-Title'].isin(famous_books).sum()

0

In [60]:
final_rating=filtered_df[filtered_df['Book-Title'].isin(famous_books.index)]

In [61]:
final_rating.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
503,243,0449006522,6,Manhattan Hunt Club,JOHN SAUL,2002,Ballantine Books,http://images.amazon.com/images/P/0449006522.0...,http://images.amazon.com/images/P/0449006522.0...,http://images.amazon.com/images/P/0449006522.0...
1380,99,0451166892,3,The Pillars of the Earth,Ken Follett,1996,Signet Book,http://images.amazon.com/images/P/0451166892.0...,http://images.amazon.com/images/P/0451166892.0...,http://images.amazon.com/images/P/0451166892.0...
1670,254,0451167317,8,The Dark Half,Stephen King,1994,Signet Book,http://images.amazon.com/images/P/0451167317.0...,http://images.amazon.com/images/P/0451167317.0...,http://images.amazon.com/images/P/0451167317.0...
1994,254,043935806X,0,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,2003,Scholastic,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...
2365,232,0330332775,0,Bridget Jones's Diary,Helen Fielding,1997,Picador (UK),http://images.amazon.com/images/P/0330332775.0...,http://images.amazon.com/images/P/0330332775.0...,http://images.amazon.com/images/P/0330332775.0...

In [62]:
pt=final_rating.pivot_table(index=['Book-Title'],columns=['User-ID'],values=['Book-Rating'],fill_value=0)

In [63]:
pt

                                         Book-Rating                           \
User-ID                                         51   56   67   75   77   91
Book-Title
1984                                             0.0  0.0  0.0  0.0  0.0  0.0
2nd Chance                                       0.0  0.0  0.0  0.0  0.0  0.0
A Bend in the Road                               0.0  0.0  0.0  0.0  0.0  0.0
A Confederacy of Dunces                          0.0  0.0  0.0  0.0  0.0  0.0
A Little Princess                                0.0  0.0  0.0  0.0  0.0  0.0
...                                              ...  ...  ...  ...  ...  ...
Wild Animus                                      0.0  0.0  0.0  0.0  0.0  0.0
Windmills of the Gods                            0.0  0.0  0.0  0.0  0.0  0.0
Wish You Well                                    0.0  0.0  0.0  0.0  0.0  0.0
Wouldn't Take Nothing for My Journey Now         0.0  0.0  0.0  0.0  0.0  0.0
stardust                                         0.0  0.0  0.0  0.0  0.0  0.0

                                                              ...            \
User-ID                                  95   97   99   114   ... 1535 1559
Book-Title                                                    ...
1984                                      0.0  0.0  0.0  0.0  ...  0.0  0.0
2nd Chance                                0.0  0.0  0.0  0.0  ...  0.0  0.0
A Bend in the Road                        0.0  0.0  0.0  0.0  ...  0.0  0.0
A Confederacy of Dunces                   0.0  0.0  0.0  0.0  ...  0.0  0.0
A Little Princess                         0.0  0.0  0.0  0.0  ...  0.0  0.0
...                                       ...  ...  ...  ...  ...  ...  ...
Wild Animus                               0.0  0.0  0.0  0.0  ...  0.0  0.0
Windmills of the Gods                     0.0  0.0  0.0  0.0  ...  0.0  0.0
Wish You Well                             0.0  0.0  0.0  0.0  ...  0.0  0.0
Wouldn't Take Nothing for My Journey Now  0.0  0.0  0.0  0.0  ...  0.0  0.0
stardust                                  0.0  0.0  0.0  0.0  ...  0.0  0.0

                                                                             \
User-ID                                  1718 1901 2204 2275 2312 2395 2943
Book-Title
1984                                      0.0  0.0  0.0  0.0  0.0  0.0  0.0
2nd Chance                                0.0  0.0  0.0  0.0  0.0  0.0  0.0
A Bend in the Road                        0.0  0.0  0.0  0.0  0.0  0.0  0.0
A Confederacy of Dunces                   0.0  0.0  0.0  0.0  0.0  0.0  0.0
A Little Princess                         0.0  0.0  0.0  0.0  0.0  0.0  0.0
...                                       ...  ...  ...  ...  ...  ...  ...
Wild Animus                               0.0  0.0  0.0  0.0  0.0  0.0  0.0
Windmills of the Gods                     0.0  0.0  0.0  0.0  0.0  0.0  0.0
Wish You Well                             0.0  0.0  0.0  0.0  0.0  0.0  0.0
Wouldn't Take Nothing for My Journey Now  0.0  0.0  0.0  0.0  0.0  0.0  0.0
stardust                                  0.0  0.0  0.0  0.0  0.0  0.0  0.0


User-ID                                  3329
Book-Title
1984                                      0.0
2nd Chance                                0.0
A Bend in the Road                        0.0
A Confederacy of Dunces                   0.0
A Little Princess                         0.0
...                                       ...
Wild Animus                               0.0
Windmills of the Gods                     0.0
Wish You Well                             0.0
Wouldn't Take Nothing for My Journey Now  0.0
stardust                                  0.0

[288 rows x 88 columns]

In [64]:
pt=pt.droplevel(0,axis=1)

In [68]:
pt.sample(20)

User-ID,51,56,67,75,77,91,95,97,99,114,...,1535,1559,1718,1901,2204,2275,2312,2395,2943,3329
Book-Title,,,,,,,,,,,,,,,,,,,,,
To Kill a Mockingbird,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Corelli's Mandolin : A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
The Catcher in the Rye,0.0,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Fatal Cure,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Four Blind Mice,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Puerto Vallarta Squeeze,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Summer Light,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Songs in Ordinary Time (Oprah's Book Club (Paperback)),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Moonlight Becomes You,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Harry Potter and the Chamber of Secrets (Book 2),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Every Breath You Take : A True Story of Obsession, Revenge, and Murder",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
The Witching Hour (Lives of the Mayfair Witches),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Fever Pitch,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
The Silmarillion,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
The Firm,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Bridget Jones's Diary,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Number the Stars (Yearling Newbery),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
The General's Daughter,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Harry Potter and the Sorcerer's Stone (Book 1),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
About Face,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
from sklearn.metrics.pairwise import cosine_similarity

In [43]:
pt.shape

(288, 88)

In [44]:
similar_score=cosine_similarity(pt)

In [45]:
np.where(pt.index=='1984')

(array([0], dtype=int64),)

In [61]:
def recommend(book_name):
    index=np.where(pt.index==book_name)[0][0]
    similar=sorted(list(enumerate(similar_score[index])),key=lambda x:x[1],reverse=True)[1:6]
    l=[]
    for i in similar:
        temp_df=books[books['Book-Title']==pt.index[i[0]]]
        temp_df=temp_df.drop_duplicates(subset=['Book-Title'])
        temp_df=temp_df[['Book-Title','Book-Author','Image-URL-M']]
        l.append(temp_df.to_numpy()[0])
    return l

In [62]:
recommend('1984')

[array(['American Gods', 'Neil Gaiman',
        'http://images.amazon.com/images/P/0380789035.01.MZZZZZZZ.jpg'],
       dtype=object),
 array(['American Gods: A Novel', 'Neil Gaiman',
        'http://images.amazon.com/images/P/0380973650.01.MZZZZZZZ.jpg'],
       dtype=object),
 array(['Animal Farm', 'George Orwell',
        'http://images.amazon.com/images/P/0451526341.01.MZZZZZZZ.jpg'],
       dtype=object),
 array(['Harry Potter and the Chamber of Secrets (Book 2)',
        'J. K. Rowling',
        'http://images.amazon.com/images/P/0439064872.01.MZZZZZZZ.jpg'],
       dtype=object),
 array(['Harry Potter and the Goblet of Fire (Book 4)', 'J. K. Rowling',
        'http://images.amazon.com/images/P/0439139597.01.MZZZZZZZ.jpg'],
       dtype=object)]

In [62]:
import pickle as pkl

In [92]:
pkl.dump(popular_df,open('popular.pkl','wb'))

In [140]:
pkl.dump(similar_score,open('similar_score.pkl','wb'))

In [141]:
pkl.dump(books,open('books.pkl','wb'))

In [142]:
pkl.dump(pt,open('pt.pkl','wb'))